.table-body {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

table {
  border: 2px solid rgb(34, 99, 139);
  width: 800px;
  /* height: 200px; */
  color: white;
}

th {
  border-bottom: 1px solid rgb(34, 99, 139);
  font-size: 1.4rem;
  padding: 1rem;
  text-align: center;
}
tr {
  text-align: center;
}
td {
  text-align: center;
  padding: 1rem;
  text-align: center;
}
